input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;margin: 0;}
.datepicker {
    z-index: 1050 !important;
}
.btn-at{
    font-size: 11px;
    margin-top: 5px;
    padding: 1px 6px;
}

.margin-top-30{
    margin-top: 30px;
}

.head-trans{
    margin-bottom: 85px;
}
.transaction-date{
    width: 60px;
}

#general-ledger .modal-dialog{
    width: 1000px;
}

.double-line{
    margin-top: 0px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid #848484;
}

a.btn.btn-success.add-row.pull-right.margin-top-3{
    padding: 2px 4px;
    margin-top: 3px;
}

a.btn.btn-success.add-row.pull-right.margin-top-23{
    padding: 2px 4px;
    margin-top: 23px;
}

a.btn.btn-warning.pull-right.margin-top-3{
    padding: 2px 4px;
    margin-top: 3px;
}

a.btn.btn-warning.pull-right.margin-top-23{
    padding: 2px 4px;
    margin-top: 23px;
}

.btn-text-danger, .btn-text-info{
    padding: 3px 5px;
    color: #fff;
    border: 0;
    border-radius: 3px;
}

.btn-text-info.margin-top-23.edit-button, .btn-text-info.margin-top-23.delete-field{
    padding: 2px 4px;
    margin-top: 23px;
}

.btn-text-info.margin-top-3.edit-button, .btn-text-info.margin-top-3.delete-field{
    padding: 2px 4px;
    margin-top: 23px;
}

.btn-text-info{
    background-color: #0b927b;
}
.btn-text-danger {
    background-color: #9e0505;
    margin-left: 3px;
}
.store-trans a{
    float: none;
    margin: 20px;
}

.btn-text-danger:hover, .btn-text-info:hover{
    color: #EEE;
}

.btn-text-info:hover{
    background-color: #0b928f;
}
.btn-text-danger:hover{
    background-color: #9e0510;
}

.main-box, .journal-entry-box {
    font-size: 12px;
}

.main-box div div, .journal-entry-box div div{
    font-size: 11px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.main-box div div input, .main-box div div select, .main-box div div select option,
.journal-entry-box div div input, .journal-entry-box div div select, .journal-entry-box div div select option{
    font-size: 11px;
    padding: 5px 8px;
}

.main-box div div input::placeholder, .journal-entry div div input::placeholder {font-size: 11px; font-style: italic; }

.main-box div div:first-child, .journal-entry-box div div:first-child,
.journal-entry-box div div:nth-child(3),
.journal-entry-box div div:nth-child(4){
    width: 12%;
}

.main-box div div:nth-child(4), .journal-entry-box div div:nth-child(5){
    width: 14%;
}

.journal-entry-box div div:nth-child(6){
    width: 20%;
}

.main-box div div:nth-child(5){
    width: 27%;
}

.main-box div div:last-child, .journal-entry-box div div:last-child{
    width: 5%;
}

.main-box div div .payment_method_addition{
    width: 100% !important;
    float: none;
    padding-left: 0 !important;
    padding-right: 3px !important;
}

.payment_method_addition input{
    margin: 5px 0;
}
.col-md-12.col-lg-12.col-sm-12.col-xs-12.search-transaction {
    padding: 30px 5px;
}

.btn-search{
    margin-top: 25px;
}

.small-text{
    font-size: 12px;
}

.small-text input, .small-text select, .small-text a{
    font-size: 11px;
}

.btn-trans-show{
    margin-top: 20px !important;
    margin-left: 20px !important;
}

select[readonly]#transaction_type, select[readonly].select2 + .select2-container {
    pointer-events: none;
    touch-action: none;
}

#transaction_type, .select2-selection {
    background: #eee;
    box-shadow: none;
}

#transaction_type, .select2-selection__arrow,
.select2-selection__clear {
    display: none;
}

.sidebar-menu>li>a {
    padding: 6px 5px 6px 15px;
}

.purchase-box div{
    padding-left: 5px;
    padding-right: 5px;
}

.form-control {
    padding: 6px 7px;
    font-size: 12px;
}

.purchase-return-box div{
    padding-left: 5px;
    padding-right: 5px;
}

.purchase-box div:first-child{
    width: 17%;
}

.purchase-box div:nth-child(2),
.purchase-box div:nth-child(3),
.purchase-box div:nth-child(4),
.purchase-box div:nth-child(5),
.purchase-box div:nth-child(6){
    width: 8%;
}

.purchase-box div:nth-child(7),
.purchase-box div:nth-child(6){
    width: 11%;
}

.purchase-box div:nth-child(8){
    width: 15%;
}
.purchase-box div:last-child{
    width:5%;
}

.purchase-return-box div:first-child{
    width: 17%;
}

.purchase-return-box div:nth-child(2),
.purchase-return-box div:nth-child(3),
.purchase-return-box div:nth-child(4),
.purchase-return-box div:nth-child(5){
    width: 15%;
}

/*.purchase-return-box div:nth-child(7),*/
/*.purchase-return-box div:nth-child(6){*/
    /*width: 11%;*/
/*}*/

/*.purchase-return-box div:nth-child(8){*/
    /*width: 15%;*/
/*}*/
.purchase-return-box div:last-child{
    width:5%;
}

.purchase-return-div div{
    padding-left: 5px;
    padding-right: 5px;
}

.purchase-return-div div:first-child{
    width: 17%;
}

.purchase-return-div div:nth-child(2),
.purchase-return-div div:nth-child(3),
.purchase-return-div div:nth-child(4),
.purchase-return-div div:nth-child(5){
    width: 7%;
}

.purchase-return-div div:nth-child(7),
.purchase-return-div div:nth-child(6){
    width: 11%;
}

.purchase-return-div div:nth-child(8){
    width: 12%;
}

.purchase-return-div div:nth-child(9){
    width: 10%;
}
.purchase-return-div div:last-child{
    width:11%;
}

.report_list div{
    height: 300px;
}
.report_list div ul li a{
    font-size: 15px;
}
.report_list div ul li{
    list-style-type: none;
    margin: 5px 0;
}
.report_list div ul{
    margin-left: -35px;
}

textarea {
    resize: none;
}

input[type='number']{
    /*text-align: right;*/
}
input[type='number']::placeholder{
    text-align: left;
}

.box-body{
    padding: 3px 10px 20px;
}

.margin-top-3{
    margin-top: 3px;
}

.margin-top-23{
    margin-top: 23px !important;
}
.margin-bottom-20 th{
    padding-bottom: 20px !important;
}

/*.padding-right-20{*/
/*    padding-right: 20px !important;*/
/*}*/
.padding-right-120{
    padding-right: 120px !important;
}
.padding-right-50{
    padding-right: 50px !important;
}
.padding-left-40{
    padding-left: 40px !important;
}

.padding-left-70{
    padding-left: 70px !important;
}

.border-1 {
    border: 1px solid rgba(0, 0, 0, 0.94) !important;
}
.border-right-1 {
    border-right: 1px solid #ccc;
}
.border-top-1{
    border-top: 1px solid rgba(0, 0, 0, 0.94) !important;
}

.border-dual {
    border-bottom-color: #0a0a0a;
    border-bottom-style: double;
    width: 200px;
}

.font-italic{
    font-style: italic;
}

.dual-line{
    text-decoration-style: double;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
}

.single-line{
    text-decoration-style: initial;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
}

.report-head-tag{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 5px;
}
.width-100{
    width: 100px;
}

.grid-width-10 {
    width: 10%;
}
.grid-width-20 {
    width: 20%;
}
.grid-width-30 {
    width: 30%;
}
.grid-width-40 {
    width: 40%;
}
.grid-width-50 {
    width: 50%;
}
.grid-width-60 {
    width: 60%;
}
.grid-width-70 {
    width: 70%;
}
.grid-width-80 {
    width: 80%;
}
.grid-width-90 {
    width: 90%;
}
.grid-width-100 {
    width: 100%;
}

.stock_table tbody th:nth-child(n+4){
    text-align: center !important;
}
.stock_table tbody td:nth-child(n+4){
    text-align: right !important;
    padding-right: 25px;
}
.text-underline{text-underline: #0a0a0a;}
.sales_table_2 th, .sales_table_2 td, .sales_table th, .sales_table td{border: 1px solid #ebebeb!important; padding: 5px;}
.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }
.sales_table_new1{width: 50%;margin: 0 auto;}
.sales_table_new1 tr td{ text-align: left}
.new-table-2{ width: 30%;margin: 0 auto;}
.new-table-2 tr td{border:0px solid #fff!important; text-align: center!important; padding: 10px 0px;}
.new-table-2 tr td button{margin: 0 auto;}
.mou-input{width: 100px !important;padding: 5px;border: 1px solid #ebebeb;}
.new-table-3 tr td{border: 0px solid #ebebeb!important;
    padding: 5px;}
.mou-input-new{width: 132px;height: 30px!important;border: 1px solid #ebebeb!important;text-align:right;padding: 5px;}
.float-right{float:right!important;}
#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid #ebebeb;margin: 0 auto; }
#items th { background: #eee; }
#items tr.item-row td { border: 0; vertical-align: top; border: 1px solid #111;}
#items td.description { width: 250px; }
#items td.item-name { width: 220px; text-align: left; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }
#items tbody tr td:last-child{width: 65px;}
#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
.amount-info table td, .payment-info table td{
    width: 50% !important;
}


.balance_sheet_ul{
    list-style-type: none;
}

.balance_sheet_ul li{
    float: left;
}
.balance_sheet_ul li:first-child{
    margin: 8px;
    font-weight: bold;
}
.balance_sheet_ul li:last-child{
   width: 95%;
}

.ml-1{
    margin-left: 1rem;
}

.company-info h2{ font-family: "Arial"; font-size: 22px; font-weight: bold; }
.company-info .info p{ margin-bottom: 5px !important; }

.w-25{width:25%!important}.w-50{width:50%!important}.w-75{width:75%!important}.w-100{width:100%!important}.w-auto{width:auto!important}.h-25{height:25%!important}.h-50{height:50%!important}.h-75{height:75%!important}.h-100{height:100%!important}.h-auto{height:auto!important}.mw-100{max-width:100%!important}.mh-100{max-height:100%!important}
.m-0{margin:0!important}.mt-0,.my-0{margin-top:0!important}.mr-0,.mx-0{margin-right:0!important}.mb-0,.my-0{margin-bottom:0!important}.ml-0,.mx-0{margin-left:0!important}.m-1{margin:.25rem!important}.mt-1,.my-1{margin-top:.25rem!important}.mr-1,.mx-1{margin-right:.25rem!important}.mb-1,.my-1{margin-bottom:.25rem!important}.ml-1,.mx-1{margin-left:.25rem!important}.m-2{margin:.5rem!important}.mt-2,.my-2{margin-top:.5rem!important}.mr-2,.mx-2{margin-right:.5rem!important}.mb-2,.my-2{margin-bottom:.5rem!important}.ml-2,.mx-2{margin-left:.5rem!important}.m-3{margin:1rem!important}.mt-3,.my-3{margin-top:1rem!important}.mr-3,.mx-3{margin-right:1rem!important}.mb-3,.my-3{margin-bottom:1rem!important}.ml-3,.mx-3{margin-left:1rem!important}.m-4{margin:1.5rem!important}.mt-4,.my-4{margin-top:1.5rem!important}.mr-4,.mx-4{margin-right:1.5rem!important}.mb-4,.my-4{margin-bottom:1.5rem!important}.ml-4,.mx-4{margin-left:1.5rem!important}.m-5{margin:3rem!important}.mt-5,.my-5{margin-top:3rem!important}.mr-5,.mx-5{margin-right:3rem!important}.mb-5,.my-5{margin-bottom:3rem!important}.ml-5,.mx-5{margin-left:3rem!important}.p-0{padding:0!important}.pt-0,.py-0{padding-top:0!important}.pr-0,.px-0{padding-right:0!important}.pb-0,.py-0{padding-bottom:0!important}.pl-0,.px-0{padding-left:0!important}.p-1{padding:.25rem!important}.pt-1,.py-1{padding-top:.25rem!important}.pr-1,.px-1{padding-right:.25rem!important}.pb-1,.py-1{padding-bottom:.25rem!important}.pl-1,.px-1{padding-left:.25rem!important}.p-2{padding:.5rem!important}.pt-2,.py-2{padding-top:.5rem!important}.pr-2,.px-2{padding-right:.5rem!important}.pb-2,.py-2{padding-bottom:.5rem!important}.pl-2,.px-2{padding-left:.5rem!important}.p-3{padding:1rem!important}.pt-3,.py-3{padding-top:1rem!important}.pr-3,.px-3{padding-right:1rem!important}.pb-3,.py-3{padding-bottom:1rem!important}.pl-3,.px-3{padding-left:1rem!important}.p-4{padding:1.5rem!important}.pt-4,.py-4{padding-top:1.5rem!important}.pr-4,.px-4{padding-right:1.5rem!important}.pb-4,.py-4{padding-bottom:1.5rem!important}.pl-4,.px-4{padding-left:1.5rem!important}.p-5{padding:3rem!important}.pt-5,.py-5{padding-top:3rem!important}.pr-5,.px-5{padding-right:3rem!important}.pb-5,.py-5{padding-bottom:3rem!important}.pl-5,.px-5{padding-left:3rem!important}.m-auto{margin:auto!important}.mt-auto,.my-auto{margin-top:auto!important}.mr-auto,.mx-auto{margin-right:auto!important}.mb-auto,.my-auto{margin-bottom:auto!important}.ml-auto,.mx-auto{margin-left:auto!important}@media (min-width:576px){.m-sm-0{margin:0!important}.mt-sm-0,.my-sm-0{margin-top:0!important}.mr-sm-0,.mx-sm-0{margin-right:0!important}.mb-sm-0,.my-sm-0{margin-bottom:0!important}.ml-sm-0,.mx-sm-0{margin-left:0!important}.m-sm-1{margin:.25rem!important}.mt-sm-1,.my-sm-1{margin-top:.25rem!important}.mr-sm-1,.mx-sm-1{margin-right:.25rem!important}.mb-sm-1,.my-sm-1{margin-bottom:.25rem!important}.ml-sm-1,.mx-sm-1{margin-left:.25rem!important}.m-sm-2{margin:.5rem!important}.mt-sm-2,.my-sm-2{margin-top:.5rem!important}.mr-sm-2,.mx-sm-2{margin-right:.5rem!important}.mb-sm-2,.my-sm-2{margin-bottom:.5rem!important}.ml-sm-2,.mx-sm-2{margin-left:.5rem!important}.m-sm-3{margin:1rem!important}.mt-sm-3,.my-sm-3{margin-top:1rem!important}.mr-sm-3,.mx-sm-3{margin-right:1rem!important}.mb-sm-3,.my-sm-3{margin-bottom:1rem!important}.ml-sm-3,.mx-sm-3{margin-left:1rem!important}.m-sm-4{margin:1.5rem!important}.mt-sm-4,.my-sm-4{margin-top:1.5rem!important}.mr-sm-4,.mx-sm-4{margin-right:1.5rem!important}.mb-sm-4,.my-sm-4{margin-bottom:1.5rem!important}.ml-sm-4,.mx-sm-4{margin-left:1.5rem!important}.m-sm-5{margin:3rem!important}.mt-sm-5,.my-sm-5{margin-top:3rem!important}.mr-sm-5,.mx-sm-5{margin-right:3rem!important}.mb-sm-5,.my-sm-5{margin-bottom:3rem!important}.ml-sm-5,.mx-sm-5{margin-left:3rem!important}.p-sm-0{padding:0!important}.pt-sm-0,.py-sm-0{padding-top:0!important}.pr-sm-0,.px-sm-0{padding-right:0!important}.pb-sm-0,.py-sm-0{padding-bottom:0!important}.pl-sm-0,.px-sm-0{padding-left:0!important}.p-sm-1{padding:.25rem!important}.pt-sm-1,.py-sm-1{padding-top:.25rem!important}.pr-sm-1,.px-sm-1{padding-right:.25rem!important}.pb-sm-1,.py-sm-1{padding-bottom:.25rem!important}.pl-sm-1,.px-sm-1{padding-left:.25rem!important}.p-sm-2{padding:.5rem!important}.pt-sm-2,.py-sm-2{padding-top:.5rem!important}.pr-sm-2,.px-sm-2{padding-right:.5rem!important}.pb-sm-2,.py-sm-2{padding-bottom:.5rem!important}.pl-sm-2,.px-sm-2{padding-left:.5rem!important}.p-sm-3{padding:1rem!important}.pt-sm-3,.py-sm-3{padding-top:1rem!important}.pr-sm-3,.px-sm-3{padding-right:1rem!important}.pb-sm-3,.py-sm-3{padding-bottom:1rem!important}.pl-sm-3,.px-sm-3{padding-left:1rem!important}.p-sm-4{padding:1.5rem!important}.pt-sm-4,.py-sm-4{padding-top:1.5rem!important}.pr-sm-4,.px-sm-4{padding-right:1.5rem!important}.pb-sm-4,.py-sm-4{padding-bottom:1.5rem!important}.pl-sm-4,.px-sm-4{padding-left:1.5rem!important}.p-sm-5{padding:3rem!important}.pt-sm-5,.py-sm-5{padding-top:3rem!important}.pr-sm-5,.px-sm-5{padding-right:3rem!important}.pb-sm-5,.py-sm-5{padding-bottom:3rem!important}.pl-sm-5,.px-sm-5{padding-left:3rem!important}.m-sm-auto{margin:auto!important}.mt-sm-auto,.my-sm-auto{margin-top:auto!important}.mr-sm-auto,.mx-sm-auto{margin-right:auto!important}.mb-sm-auto,.my-sm-auto{margin-bottom:auto!important}.ml-sm-auto,.mx-sm-auto{margin-left:auto!important}}@media (min-width:768px){.m-md-0{margin:0!important}.mt-md-0,.my-md-0{margin-top:0!important}.mr-md-0,.mx-md-0{margin-right:0!important}.mb-md-0,.my-md-0{margin-bottom:0!important}.ml-md-0,.mx-md-0{margin-left:0!important}.m-md-1{margin:.25rem!important}.mt-md-1,.my-md-1{margin-top:.25rem!important}.mr-md-1,.mx-md-1{margin-right:.25rem!important}.mb-md-1,.my-md-1{margin-bottom:.25rem!important}.ml-md-1,.mx-md-1{margin-left:.25rem!important}.m-md-2{margin:.5rem!important}.mt-md-2,.my-md-2{margin-top:.5rem!important}.mr-md-2,.mx-md-2{margin-right:.5rem!important}.mb-md-2,.my-md-2{margin-bottom:.5rem!important}.ml-md-2,.mx-md-2{margin-left:.5rem!important}.m-md-3{margin:1rem!important}.mt-md-3,.my-md-3{margin-top:1rem!important}.mr-md-3,.mx-md-3{margin-right:1rem!important}.mb-md-3,.my-md-3{margin-bottom:1rem!important}.ml-md-3,.mx-md-3{margin-left:1rem!important}.m-md-4{margin:1.5rem!important}.mt-md-4,.my-md-4{margin-top:1.5rem!important}.mr-md-4,.mx-md-4{margin-right:1.5rem!important}.mb-md-4,.my-md-4{margin-bottom:1.5rem!important}.ml-md-4,.mx-md-4{margin-left:1.5rem!important}.m-md-5{margin:3rem!important}.mt-md-5,.my-md-5{margin-top:3rem!important}.mr-md-5,.mx-md-5{margin-right:3rem!important}.mb-md-5,.my-md-5{margin-bottom:3rem!important}.ml-md-5,.mx-md-5{margin-left:3rem!important}.p-md-0{padding:0!important}.pt-md-0,.py-md-0{padding-top:0!important}.pr-md-0,.px-md-0{padding-right:0!important}.pb-md-0,.py-md-0{padding-bottom:0!important}.pl-md-0,.px-md-0{padding-left:0!important}.p-md-1{padding:.25rem!important}.pt-md-1,.py-md-1{padding-top:.25rem!important}.pr-md-1,.px-md-1{padding-right:.25rem!important}.pb-md-1,.py-md-1{padding-bottom:.25rem!important}.pl-md-1,.px-md-1{padding-left:.25rem!important}.p-md-2{padding:.5rem!important}.pt-md-2,.py-md-2{padding-top:.5rem!important}.pr-md-2,.px-md-2{padding-right:.5rem!important}.pb-md-2,.py-md-2{padding-bottom:.5rem!important}.pl-md-2,.px-md-2{padding-left:.5rem!important}.p-md-3{padding:1rem!important}.pt-md-3,.py-md-3{padding-top:1rem!important}.pr-md-3,.px-md-3{padding-right:1rem!important}.pb-md-3,.py-md-3{padding-bottom:1rem!important}.pl-md-3,.px-md-3{padding-left:1rem!important}.p-md-4{padding:1.5rem!important}.pt-md-4,.py-md-4{padding-top:1.5rem!important}.pr-md-4,.px-md-4{padding-right:1.5rem!important}.pb-md-4,.py-md-4{padding-bottom:1.5rem!important}.pl-md-4,.px-md-4{padding-left:1.5rem!important}.p-md-5{padding:3rem!important}.pt-md-5,.py-md-5{padding-top:3rem!important}.pr-md-5,.px-md-5{padding-right:3rem!important}.pb-md-5,.py-md-5{padding-bottom:3rem!important}.pl-md-5,.px-md-5{padding-left:3rem!important}.m-md-auto{margin:auto!important}.mt-md-auto,.my-md-auto{margin-top:auto!important}.mr-md-auto,.mx-md-auto{margin-right:auto!important}.mb-md-auto,.my-md-auto{margin-bottom:auto!important}.ml-md-auto,.mx-md-auto{margin-left:auto!important}}@media (min-width:992px){.m-lg-0{margin:0!important}.mt-lg-0,.my-lg-0{margin-top:0!important}.mr-lg-0,.mx-lg-0{margin-right:0!important}.mb-lg-0,.my-lg-0{margin-bottom:0!important}.ml-lg-0,.mx-lg-0{margin-left:0!important}.m-lg-1{margin:.25rem!important}.mt-lg-1,.my-lg-1{margin-top:.25rem!important}.mr-lg-1,.mx-lg-1{margin-right:.25rem!important}.mb-lg-1,.my-lg-1{margin-bottom:.25rem!important}.ml-lg-1,.mx-lg-1{margin-left:.25rem!important}.m-lg-2{margin:.5rem!important}.mt-lg-2,.my-lg-2{margin-top:.5rem!important}.mr-lg-2,.mx-lg-2{margin-right:.5rem!important}.mb-lg-2,.my-lg-2{margin-bottom:.5rem!important}.ml-lg-2,.mx-lg-2{margin-left:.5rem!important}.m-lg-3{margin:1rem!important}.mt-lg-3,.my-lg-3{margin-top:1rem!important}.mr-lg-3,.mx-lg-3{margin-right:1rem!important}.mb-lg-3,.my-lg-3{margin-bottom:1rem!important}.ml-lg-3,.mx-lg-3{margin-left:1rem!important}.m-lg-4{margin:1.5rem!important}.mt-lg-4,.my-lg-4{margin-top:1.5rem!important}.mr-lg-4,.mx-lg-4{margin-right:1.5rem!important}.mb-lg-4,.my-lg-4{margin-bottom:1.5rem!important}.ml-lg-4,.mx-lg-4{margin-left:1.5rem!important}.m-lg-5{margin:3rem!important}.mt-lg-5,.my-lg-5{margin-top:3rem!important}.mr-lg-5,.mx-lg-5{margin-right:3rem!important}.mb-lg-5,.my-lg-5{margin-bottom:3rem!important}.ml-lg-5,.mx-lg-5{margin-left:3rem!important}.p-lg-0{padding:0!important}.pt-lg-0,.py-lg-0{padding-top:0!important}.pr-lg-0,.px-lg-0{padding-right:0!important}.pb-lg-0,.py-lg-0{padding-bottom:0!important}.pl-lg-0,.px-lg-0{padding-left:0!important}.p-lg-1{padding:.25rem!important}.pt-lg-1,.py-lg-1{padding-top:.25rem!important}.pr-lg-1,.px-lg-1{padding-right:.25rem!important}.pb-lg-1,.py-lg-1{padding-bottom:.25rem!important}.pl-lg-1,.px-lg-1{padding-left:.25rem!important}.p-lg-2{padding:.5rem!important}.pt-lg-2,.py-lg-2{padding-top:.5rem!important}.pr-lg-2,.px-lg-2{padding-right:.5rem!important}.pb-lg-2,.py-lg-2{padding-bottom:.5rem!important}.pl-lg-2,.px-lg-2{padding-left:.5rem!important}.p-lg-3{padding:1rem!important}.pt-lg-3,.py-lg-3{padding-top:1rem!important}.pr-lg-3,.px-lg-3{padding-right:1rem!important}.pb-lg-3,.py-lg-3{padding-bottom:1rem!important}.pl-lg-3,.px-lg-3{padding-left:1rem!important}.p-lg-4{padding:1.5rem!important}.pt-lg-4,.py-lg-4{padding-top:1.5rem!important}.pr-lg-4,.px-lg-4{padding-right:1.5rem!important}.pb-lg-4,.py-lg-4{padding-bottom:1.5rem!important}.pl-lg-4,.px-lg-4{padding-left:1.5rem!important}.p-lg-5{padding:3rem!important}.pt-lg-5,.py-lg-5{padding-top:3rem!important}.pr-lg-5,.px-lg-5{padding-right:3rem!important}.pb-lg-5,.py-lg-5{padding-bottom:3rem!important}.pl-lg-5,.px-lg-5{padding-left:3rem!important}.m-lg-auto{margin:auto!important}.mt-lg-auto,.my-lg-auto{margin-top:auto!important}.mr-lg-auto,.mx-lg-auto{margin-right:auto!important}.mb-lg-auto,.my-lg-auto{margin-bottom:auto!important}.ml-lg-auto,.mx-lg-auto{margin-left:auto!important}}@media (min-width:1200px){.m-xl-0{margin:0!important}.mt-xl-0,.my-xl-0{margin-top:0!important}.mr-xl-0,.mx-xl-0{margin-right:0!important}.mb-xl-0,.my-xl-0{margin-bottom:0!important}.ml-xl-0,.mx-xl-0{margin-left:0!important}.m-xl-1{margin:.25rem!important}.mt-xl-1,.my-xl-1{margin-top:.25rem!important}.mr-xl-1,.mx-xl-1{margin-right:.25rem!important}.mb-xl-1,.my-xl-1{margin-bottom:.25rem!important}.ml-xl-1,.mx-xl-1{margin-left:.25rem!important}.m-xl-2{margin:.5rem!important}.mt-xl-2,.my-xl-2{margin-top:.5rem!important}.mr-xl-2,.mx-xl-2{margin-right:.5rem!important}.mb-xl-2,.my-xl-2{margin-bottom:.5rem!important}.ml-xl-2,.mx-xl-2{margin-left:.5rem!important}.m-xl-3{margin:1rem!important}.mt-xl-3,.my-xl-3{margin-top:1rem!important}.mr-xl-3,.mx-xl-3{margin-right:1rem!important}.mb-xl-3,.my-xl-3{margin-bottom:1rem!important}.ml-xl-3,.mx-xl-3{margin-left:1rem!important}.m-xl-4{margin:1.5rem!important}.mt-xl-4,.my-xl-4{margin-top:1.5rem!important}.mr-xl-4,.mx-xl-4{margin-right:1.5rem!important}.mb-xl-4,.my-xl-4{margin-bottom:1.5rem!important}.ml-xl-4,.mx-xl-4{margin-left:1.5rem!important}.m-xl-5{margin:3rem!important}.mt-xl-5,.my-xl-5{margin-top:3rem!important}.mr-xl-5,.mx-xl-5{margin-right:3rem!important}.mb-xl-5,.my-xl-5{margin-bottom:3rem!important}.ml-xl-5,.mx-xl-5{margin-left:3rem!important}.p-xl-0{padding:0!important}.pt-xl-0,.py-xl-0{padding-top:0!important}.pr-xl-0,.px-xl-0{padding-right:0!important}.pb-xl-0,.py-xl-0{padding-bottom:0!important}.pl-xl-0,.px-xl-0{padding-left:0!important}.p-xl-1{padding:.25rem!important}.pt-xl-1,.py-xl-1{padding-top:.25rem!important}.pr-xl-1,.px-xl-1{padding-right:.25rem!important}.pb-xl-1,.py-xl-1{padding-bottom:.25rem!important}.pl-xl-1,.px-xl-1{padding-left:.25rem!important}.p-xl-2{padding:.5rem!important}.pt-xl-2,.py-xl-2{padding-top:.5rem!important}.pr-xl-2,.px-xl-2{padding-right:.5rem!important}.pb-xl-2,.py-xl-2{padding-bottom:.5rem!important}.pl-xl-2,.px-xl-2{padding-left:.5rem!important}.p-xl-3{padding:1rem!important}.pt-xl-3,.py-xl-3{padding-top:1rem!important}.pr-xl-3,.px-xl-3{padding-right:1rem!important}.pb-xl-3,.py-xl-3{padding-bottom:1rem!important}.pl-xl-3,.px-xl-3{padding-left:1rem!important}.p-xl-4{padding:1.5rem!important}.pt-xl-4,.py-xl-4{padding-top:1.5rem!important}.pr-xl-4,.px-xl-4{padding-right:1.5rem!important}.pb-xl-4,.py-xl-4{padding-bottom:1.5rem!important}.pl-xl-4,.px-xl-4{padding-left:1.5rem!important}.p-xl-5{padding:3rem!important}.pt-xl-5,.py-xl-5{padding-top:3rem!important}.pr-xl-5,.px-xl-5{padding-right:3rem!important}.pb-xl-5,.py-xl-5{padding-bottom:3rem!important}.pl-xl-5,.px-xl-5{padding-left:3rem!important}.m-xl-auto{margin:auto!important}.mt-xl-auto,.my-xl-auto{margin-top:auto!important}.mr-xl-auto,.mx-xl-auto{margin-right:auto!important}.mb-xl-auto,.my-xl-auto{margin-bottom:auto!important}.ml-xl-auto,.mx-xl-auto{margin-left:auto!important}}
.bg-gray{ background-color: #eee;}
.customer-table-info tr td{ text-align: right;}
.bill-info tr td{ border: 1px solid rgba(51, 51, 51, 0.57); width: 300px; padding: 3px;}
.bill-info tr th{ width: 200px;padding: 3px; background-color: #eee; border: 1px solid rgba(51, 51, 51, 0.57);}
.height-50{height:50px}
@media (max-width:767px) {
    .new-table-responsive{
        overflow-x: scroll;
    }
}


.stock_table tbody td:last-child {
     padding-right: 5px;
}
